ext/* linguist-vendored
cmake/* linguist-vendored
build/* linguist-vendored
.github/* linguist-vendored

CMakeLists.txt linguist-documentation
*.cmake linguist-documentation
*.txt linguist-generated


